# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias s='ls -CF'
alias sl='ls -CF'
alias lsd='ls -d */'
alias lsl='ls -CF'
alias sls='ls -CF'
alias c='cd'

alias v='vim'
alias fn="find . -name"
alias u="cd .."
alias rg="rgrep"

# git aliases
alias gs='git status'
alias ga='git add'
alias grot='cd `git rev-parse --show-toplevel`'
alias gd='git diff'
alias gpo='git push origin HEAD'
alias gcb='git checkout -b'

alias venv="virtualenv -p /usr/bin/python3 .venv"
alias venva="source .venv/bin/activate"
alias music="cd ~/media/Music/myTunes"

# rust aliases
alias cb='cargo build'

# convenient project access
alias scratch=". scratch"

alias gfind='. _gfind'

# convenient terminal styling
alias black_back='gconftool-2 --set "/apps/gnome-terminal/profiles/Default/background_color" --type string "#000000000000"'
alias white_back='gconftool-2 --set "/apps/gnome-terminal/profiles/Default/background_color" --type string "#FFFFFFFFFFFF"'
alias white_fore='gconftool-2 --set "/apps/gnome-terminal/profiles/Default/foreground_color" --type string "#FFFFFFFFFFFF"'
alias green_fore='gconftool-2 --set "/apps/gnome-terminal/profiles/Default/foreground_color" --type string "#0000FFFF0000"'

alias tg='cd ~/src/tg'
alias gw='./gradlew'
